/* body {
  background-color: blue;
} */

body {
  margin: 0;
  text-align: center; /*doesn't work with elems that have a width set*/
  font-family: 'Merriweather', serif;
  color: #40514E;
  /* font-size: 200%; */
}

/* div {
  background-color: #E4F9F5;
} */

h1 {
  margin: 50px auto 0 auto;
  /* font-size: 90px; */
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;  /* 1 em = 16px = 100%*/
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem; /* 40 px*/
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  /* color: #EAF6F6; */
  /* border-style: dotted hidden hidden hidden; */
  /* border-style: dotted;
  width: 10px; */
  /* border: 10px solid green;
  border-radius: 5px;

  border-top-style: dotted; */
  border-style: none;
  border-top-style: dotted;
  border-top-width: 10px;
  border-top-color: #EAF6F6;
  width: 90px;
  margin: 50px auto 50px auto;
}

a {
  color: #11999E;
}



/*class*/
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.btn {
  background-color: #66BFBF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  margin-top: 25px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: green;
}

.description {
  color: #40514E;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

/* .middle-container {
  margin: 0 auto;
} */

.top-cloud {
  position: absolute;
  /* left: 200px; */
  right: 300px;
  top: 50px;
}

.pro {
text-decoration: underline;
}

.round {
  border-radius: 100%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  /* background-color: #E4F9F5; */
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
  margin-bottom: 25px;
}

.moai {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.computer {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  margin: 65px auto 0 auto;
  background-color: #66BFBF;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
  margin-right: 100px;
  margin-left: 100px;
  font-family: 'Montserrat', sans-serif;
  /* padding: 100px; */
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  margin-top: 30px;
  font-size: 0.75 rem;
}

/* .bottom-container {
  background-color: red;
  height: 200px;
  width: 200px;
} */

/* .middle-container {
  background-color: blue;
  height: 200px;
  width: 200px;
} */
